:root {
  --main-color: #ffffff;
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --button-color: #f5f4fa;
  --button-second-color: #188ce8;
  --third-color: #000000;
  --background-color: #2f303a;
  --background-second-color: #f5f4fa;
  --adress-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--main-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Header */

.webstudio {
  color: var(--accent-color);

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.webstudio-black {
  color: var(--third-color);
}

.navigation-title {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.navigation .current {
  color: var(--accent-color);
}

.navigation .navigation-adress {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  text-decoration: none;
}

.navigation .navigation-title:hover,
.navigation .navigation-title:focus {
  color: var(--accent-color);
}

.navigation .navigation-adress:hover,
.navigation .navigation-adress:focus {
  color: var(--accent-color);
}

/* Main */

.hero {
  background-color: var(--background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-color);
}

.hero .btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--main-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.hero .btn:hover,
.hero .btn:focus {
  background-color: var(--button-second-color);
}

.features-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-item .features-name {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-text-color);
}

.features-item .features-item {
  font-weight: 400;
  line-height: 1.71;

  color: var(--second-text-color);
}

/* What we do */

.doing {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  color: var(--primary-text-color);
}

.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

/* Team */

.team {
  background-color: var(--background-second-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--primary-text-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--primary-text-color);
}

.team-prof {
  font-size: 16px;
  line-height: 1.19;

  color: var(--second-text-color);
}

/* Footer */

footer {
  background-color: var(--background-color);
}

.webstudio-white {
  color: var(--main-color);
}

.adress-link {
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  color: var(--main-color);
}

.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
}

.adress-contacts {
  line-height: 1.71;
  font-style: normal;
  color: var(--adress-color);
}

.adress-contacts:hover,
.adress-contacts:focus {
  color: var(--accent-color);
}

/* Portfolio */

.portfolio .btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
}

.portfolio .title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio .btn:hover,
.portfolio .btn:focus {
  color: var(--main-color);
  background: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}

.text-portfolio {
  font-size: 16px;
  line-height: 1.8;
  color: var(--second-text-color);
}
