:root {
  --main-color: #ffffff;
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --button-color: #f5f4fa;
  --third-color: #000000;
  --background-color: #2f303a;
  --background-second-color: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--main-color);
  letter-spacing: 0.03em;
}

.link {
  list-style: none;
  text-decoration: none;
}

/* Header */

.webstudio {
  color: var(--accent-color);

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.webstudio-black {
  color: var(--third-color);
}

.navigation-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.navigation .current {
  color: var(--accent-color);
}

.navigation .navigation-adress {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  text-decoration: none;
}

.navigation .navigation-title:hover,
.navigation .navigation-title:focus {
  color: var(--accent-color);
}

.navigation .navigation-adress:hover,
.navigation .navigation-adress:focus {
  color: var(--accent-color);
}

/* Main */

.section-one {
  background-color: var(--background-color);
}

.section-one .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-color);
}

.section-one .btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--main-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.section-two-title {
  display: none;
}

.section-two-item .text-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-text-color);
}

.section-two-item .text-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: var(--second-text-color);
}

/* What we do */

.section-three-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--primary-text-color);
}

/* Team */

.section-four {
  background-color: var(--background-second-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--primary-text-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--primary-text-color);
}

.team-prof {
  font-size: 16px;
  line-height: 1.19;

  color: var(--second-text-color);
}

/* Footer */

footer {
  background-color: var(--background-color);
}

.webstudio-white {
  color: var(--main-color);
}

.adress-link {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  color: var(--main-color);
}

.adress-contacts {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

/* Portfolio */

.section-one-portfolio .btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  color: var(--primary-text-color);
  background: var(--button-color);
  border-radius: 4px;
  border-style: none;
}

.section-one-portfolio .title {
  display: none;
}

.section-one-portfolio .btn:hover,
.section-one-portfolio .btn:focus {
  color: var(--main-color);
  background: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}

.title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}

.text-portfolio {
  font-size: 16px;
  line-height: 1.8;
  color: var(--second-text-color);
}
